/* ==UserStyle==
@name           Atomi Dark
@version        0.1
@description    A dark theme for Atomi
@author         qualk <qualk@qualk.xyz> (https://www.qualk.xyz)
@namespace      qualk
==/UserStyle== */
@-moz-document url-prefix("https://learn.getatomi.com/subscriptions/") {
	:root {
		--bg: #09090B;
		--background: oklch(13.71% 0.036 258.53);
		--card: 222.2 84% 4.9%;
		--popover: 222.2 84% 4.9%;
		--primary: oklch(62.32% 0.188 259.8);
		--secondary: 217.2 32.6% 17.5%;
		--muted: 217.2 32.6% 17.5%;
		--accent: 217.2 32.6% 17.5%;
		--destructive: oklch(39.59% 0.133 25.72);
		--h1: #ddd;
		--h2: #bbb;
		--text: #fff;
		--border: #1E293B;
	}

	body {
		background: var(--bg);
	}
    
    .AFcuj {
        display: none
    }

	.jkzSMN,
	.jJRtXl,
	/* my classes title */
	.ztphL h1:first-child {
		color: var(--h1)
	}

	.hXghTv {
		background: var(--card);
		border-color: var(--border)
	}

	/* header root */
	.Header-module__header___V0UDm {
		border-bottom-color: var(--border)
	}

	/* header */
	.eNtgxV {
		background: var(--bg)
	}

	.cXAKUK {
		background: var(--background);
		border-width: 2px;
		border-color: var(--border);
		border-radius: 15px
	}

	.kcWUen/* class card title */
	{
		color: rgb(150, 180, 230)
	}

	.jtcgJi {
		color: rgb(120, 128, 138)
	}

	.Nav-module__isActive___udVOx {
		color: #167BF8 !important
	}

	.ghaREo,
	/* welcome text */
	.kcZFXv,
	/* student name text */
	.Nav-module__link___rYKNO/* tab text */
	{
		color: var(--text)
	}

	.frZHUg,
	.gaXtWY,
	.SectionListItem-module__heading___TZbXY h2:first-child {
		color: var(--h2)
	}

	/* class cards */
	.evFXcn {
		background: var(--background);
		border-width: 2px;
		border-color: var(--border);
		border-radius: 15px
	}

	.jPYdpD div:first-child {
		border-radius: 15px
	}
    
    .fbQVYU {
        border-color: var(--border)
    }

	.IconWrapper_root__iz2Kr,
	.cCUxLF div:first-child,
    .fbQVYU {
		filter: invert(100%) hue-rotate(180deg);
	}

	/* alert banner */
	.Alert_isBanner__eo5ab {
		display: none
	}

	.PostSummary_name__p8Inc {
		color: var(--text)
	}
}
